.main-div{
    width: 98%;
    margin:5% 1% 0 1%;
    border:1px solid black;
}
table{
    width:80%;
    margin:0 10% 0 0%;
    border:1px solid #004B49;
    
}
.thead{
    background-color:#004B49;
    color:white;
    font-family:'cambria';
    font-size: 25px;
}
th{
    padding:5px 15px ;
}