
<div class="main-div">
    <img src="../../assets/college.png" class="imgclass">

    <div class="form-div">
        <form #myForm="ngForm">
            <!-- user name -->
            <label for="exampleInputEmail1" class="fs-5">User Name</label><br>
            <input type="text" class="fs-5 input" id="suname" name="suname"  #suname  ngModel required>
            <br><br>

             <!-- password -->
            <label for="exampleInputPassword1"  class="fs-5">Password</label><br>
            <input type="password" class="fs-5 input" id="password" name="password"
            ngModel minlength="8" maxlength="20" required #spass>
            <div *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched" class="error">
                Password is required.
            </div>
            <div *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched" class="error">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="myForm.controls['password'].hasError('maxlength') && myForm.controls['password'].touched" class="error">
                Password cannot exceed 20 characters.
            </div>
            <br><br>
            
            <!-- Role -->
            <label for="exampleInputEmail1" class="fs-5">User Role</label><br>
            <select id="srole" name="srole" #srole  class="input-select" ngModel required>
                <option value="User" class="fs-4" >User</option>
                <option value="Admin" class="fs-4" >Admin</option>
            </select>
            <br><br>
            
            <!-- forgot password -->
            <div>
                <button class="btn btn-primary"><a>forgot passsword</a></button>
            </div>

        <!-- submit -->        
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-success submit-btn" (click)="onSubmit(suname,srole,spass)">Submit</button>
        </form>
        
    </div>

</div>