
<div class="main-div">
    <img src="../../assets/college.png" class="imgclass">

    <div class="form-div">
        <form #myForm="ngForm">
    <!-- student name -->        
            <label for="exampleInputEmail1" class="fs-5">Student Name </label><br>
            <input type="text" class="fs-5 input" id="sname" name="sname" #sname  ngModel="{{stud_name}}" required>
            <br><br>

            <!-- user name -->
            <label for="exampleInputEmail1" class="fs-5">User Name</label><br>
            <input type="text" class="fs-5 input" id="suname" name="suname"  #suname  ngModel="{{user_name}}" disabled>
            <br><br>

    <!-- Role -->
            <label for="exampleInputEmail1" class="fs-5">User Role</label><br>
            <input type="text" class="fs-5 input" id="srole" name="srole" #srole  class="input-select" ngModel="{{user_role}}" disabled>
            <br><br>

    <!-- Email-->
            <label for="exampleInputEmail1" class="fs-5">Email address</label><br>
            <input type="email" class="fs-5 input" id="semail" name="semail" #semail  ngModel="{{user_email}}" required email>
            <div *ngIf="myForm.controls['semail'].hasError('required') && myForm.controls['semail'].touched" class="error">
                Email address is required.
            </div>
            <div *ngIf="myForm.controls['semail'].hasError('email') && myForm.controls['semail'].touched"  class="error">
                Please enter a valid email address.
            </div>
            <br><br>

    <!-- password -->
            <label for="exampleInputPassword1"  class="fs-5">Password</label><br>
            <input type="password" class="fs-5 input" id="password" name="password"
            ngModel minlength="8" maxlength="20" ngModel [placeholder]="user_pass" required #spass>
            <div *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched" class="error">
                Password is required.
            </div>
            <div *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched" class="error">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="myForm.controls['password'].hasError('maxlength') && myForm.controls['password'].touched" class="error">
                Password cannot exceed 20 characters.
            </div>
            <br><br>
    <!-- submit -->    
        <button class="btn btn-success submit-btn" (click)="onFetch(sname,suname,srole,semail,spass)">FETCH</button>    
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-success submit-btn" (click)="onSubmit(sname,suname,srole,semail,spass)">UPDATE</button>
        </form>
        
    </div>

</div>