
<div class="main-div">
    <img src="../../assets/college.png" class="imgclass">

    <div class="form-div">     
        <table>
            <tr class="tr-head">
                <th class="fs-30"><b>This is a Student Management System.</b></th>
            </tr>
            <tr>
                <th class="fs-20" align="left">
                    This project is for manage the students and students can 
                    do the operations like registeration, login, updation and deletion.
                </th>
            </tr>
            <tr>
                <th class="fs-20" align="left">
                    Students can register theirselves to the system.Registeration contains details like 
                    their name, user name, date of birth, email, password.
                </th>                
            </tr>
            <tr>
                <th class="fs-20" align="left">
                    After Registration they can login with their user name and password.
                </th>                
            </tr>            
            <tr>
                <th class="fs-20" align="left">
                    Admin can do some special tasks like fetch entire students data.
                </th>                
            </tr> 
            <tr>
                <th class="fs-20" align="left">
                    There are user roles in system differentiating between "Admin" and "User."
                    Ensure that the login page routes users to the appropriate dashboard based on their
                    role.
                    Admins should have access to features like adding, editing, and viewing all students.
                    Users should have limited access based on their role.
                </th>                
            </tr> 
            <tr>
                <th class="fs-20" align="left">
                    Develop a page displaying a list of all registered students.
                    Include relevant information like name, email, and any other necessary details.
                    Implement pagination or infinite scrolling for enhanced user experience with many
                    students.                   
                </th>                
            </tr> 
            <tr>
                <th class="fs-20" align="left">
                    Single Student Details Page:
                    Create a dedicated page to show detailed information about a single student.
                    Include a link or button on the "Show All Students" page to navigate to individual
                    student details. 
                </th>                
            </tr>                                                           
        </table>   
    </div>
</div>